@import url('https://rsms.me/inter/inter-ui.css');

/* https://palx.jxnblk.com/3e54ff.css */
:root {
  --base: #000;

  --ds-gray-100-value: 0, 0%, 10%;
  --ds-gray-200-value: 0, 0%, 12%;
  --ds-gray-300-value: 0, 0%, 16%;
  --ds-gray-400-value: 0, 0%, 18%;
  --ds-gray-500-value: 0, 0%, 27%;
  --ds-gray-600-value: 0, 0%, 53%;
  --ds-gray-700-value: 0, 0%, 56%;
  --ds-gray-800-value: 0, 0%, 49%;
  --ds-gray-900-value: 0, 0%, 63%;
  --ds-gray-1000-value: 0, 0%, 93%;

  --ds-gray-alpha-100: rgba(0, 0, 0, 0.05);
  --ds-gray-alpha-200: hsla(0, 0%, 0%, 0.08);
  --ds-gray-alpha-300: hsla(0, 0%, 0%, 0.1);
  --ds-gray-alpha-400: hsla(0, 0%, 0%, 0.08);
  --ds-gray-alpha-500: hsla(0, 0%, 0%, 0.21);
  --ds-gray-alpha-600: hsla(0, 0%, 0%, 0.34);
  --ds-gray-alpha-700: hsla(0, 0%, 0%, 0.44);
  --ds-gray-alpha-800: hsla(0, 0%, 0%, 0.51);
  --ds-gray-alpha-900: hsla(0, 0%, 0%, 0.61);
  --ds-gray-alpha-1000: hsla(0, 0%, 0%, 0.91);

  --ds-background-100: hsla(0, 0%, 4%, 1);
  --ds-background-200: hsla(0, 0%, 0%, 1);

  --ds-gray-100: hsla(var(--ds-gray-100-value), 1);
  --ds-gray-200: hsla(var(--ds-gray-200-value), 1);
  --ds-gray-300: hsla(var(--ds-gray-300-value), 1);
  --ds-gray-400: hsla(var(--ds-gray-400-value), 1);
  --ds-gray-500: hsla(var(--ds-gray-500-value), 1);
  --ds-gray-600: hsla(var(--ds-gray-600-value), 1);
  --ds-gray-700: hsla(var(--ds-gray-700-value), 1);
  --ds-gray-800: hsla(var(--ds-gray-800-value), 1);
  --ds-gray-900: hsla(var(--ds-gray-900-value), 1);
  --ds-gray-1000: hsla(var(--ds-gray-1000-value), 1);

  --ds-blue-100: oklch(22.17% 0.069 259.89);
  --ds-blue-200: oklch(25.45% 0.0811 255.8);
  --ds-blue-300: oklch(30.86% 0.1022 255.21);
  --ds-blue-400: oklch(34.1% 0.121 254.74);
  --ds-blue-500: oklch(38.5% 0.1403 254.4);
  --ds-blue-600: oklch(64.94% 0.1982 251.8131841760864);
  --ds-blue-700: oklch(57.61% 0.2321 258.23);
  --ds-blue-800: oklch(51.51% 0.2307 257.85);
  --ds-blue-900: oklch(71.7% 0.1648 250.79360374054167);
  --ds-blue-1000: oklch(96.75% 0.0179 242.4234217368056);

  --ds-red-100: oklch(22.1% 0.0657 15.11);
  --ds-red-200: oklch(25.93% 0.0834 19.02);
  --ds-red-300: oklch(31.47% 0.1105 20.96);
  --ds-red-400: oklch(35.27% 0.1273 21.23);
  --ds-red-500: oklch(40.68% 0.1479 23.16);
  --ds-red-600: oklch(62.56% 0.2277 23.03);
  --ds-red-700: oklch(62.56% 0.2234 23.03);
  --ds-red-800: oklch(58.01% 0.227 25.12);
  --ds-red-900: oklch(69.96% 0.2136 22.03);
  --ds-red-1000: oklch(95.6% 0.0293 6.61);

  --ds-amber-100: oklch(22.46% 0.0538 76.04);
  --ds-amber-200: oklch(24.95% 0.0642 64.78);
  --ds-amber-300: oklch(32.34% 0.0837 63.83);
  --ds-amber-400: oklch(35.53% 0.0903 66.29707162673735);
  --ds-amber-500: oklch(41.55% 0.1044 67.98);
  --ds-amber-600: oklch(75.04% 0.1737 74.49);
  --ds-amber-700: oklch(81.87% 0.1969 76.46);
  --ds-amber-800: oklch(77.21% 0.1991 64.28);
  --ds-amber-900: oklch(77.21% 0.1991 64.28);
  --ds-amber-1000: oklch(96.7% 0.0418 84.59);

  --ds-green-100: oklch(23.09% 0.0716 149.68);
  --ds-green-200: oklch(27.12% 0.0895 150.09);
  --ds-green-300: oklch(29.84% 0.096 149.25);
  --ds-green-400: oklch(34.39% 0.1039 147.78);
  --ds-green-500: oklch(44.19% 0.1484 147.2);
  --ds-green-600: oklch(58.11% 0.1815 146.55);
  --ds-green-700: oklch(64.58% 0.199 147.27);
  --ds-green-800: oklch(57.81% 0.1776 147.5);
  --ds-green-900: oklch(73.1% 0.2158 148.29);
  --ds-green-1000: oklch(96.76% 0.056 154.18);

  --ds-teal-100: oklch(22.1% 0.0544 178.74);
  --ds-teal-200: oklch(25.06% 0.062 178.76);
  --ds-teal-300: oklch(31.5% 0.0767 180.99);
  --ds-teal-400: oklch(32.43% 0.0763 180.13);
  --ds-teal-500: oklch(43.35% 0.1055 180.97);
  --ds-teal-600: oklch(60.71% 0.1485 180.24);
  --ds-teal-700: oklch(64.92% 0.1403 181.95);
  --ds-teal-800: oklch(57.53% 0.1392 181.66);
  --ds-teal-900: oklch(74.56% 0.1765 182.8);
  --ds-teal-1000: oklch(96.46% 0.056 180.29);

  --ds-purple-100: oklch(22.34% 0.0779 316.87);
  --ds-purple-200: oklch(25.91% 0.0921 314.41);
  --ds-purple-300: oklch(31.98% 0.1219 312.41);
  --ds-purple-400: oklch(35.93% 0.1504 309.78);
  --ds-purple-500: oklch(40.99% 0.1721 307.92);
  --ds-purple-600: oklch(55.5% 0.2191 306.12);
  --ds-purple-700: oklch(55.5% 0.2186 306.12);
  --ds-purple-800: oklch(48.58% 0.2102 305.73);
  --ds-purple-900: oklch(69.87% 0.2037 309.51);
  --ds-purple-1000: oklch(96.1% 0.0304 316.46);

  --ds-pink-100: oklch(22.67% 0.0628 354.73);
  --ds-pink-200: oklch(26.2% 0.0859 356.68);
  --ds-pink-300: oklch(31.15% 0.1067 355.93);
  --ds-pink-400: oklch(32.13% 0.1174 356.71);
  --ds-pink-500: oklch(37.01% 0.1453 358.39);
  --ds-pink-600: oklch(50.33% 0.2089 4.33);
  --ds-pink-700: oklch(63.52% 0.2346 1.01);
  --ds-pink-800: oklch(59.51% 0.2429 4.21);
  --ds-pink-900: oklch(69.36% 0.2223 3.91);
  --ds-pink-1000: oklch(95.74% 0.0326 350.08);

  --gray-1000: #FFFFFF;
  --gray-900: #ECEEEF;
  --gray-800: #C6CBD0;
  --gray-700: #A6ADB5;
  --gray-600: #8B949E;
  --gray-500: #707B86;
  --gray-400: #5D666F;
  --gray-300: #4D555C;
  --gray-200: #40474C;
  --gray-100: #33383D;


  /* theme */
  --primary-color: var(--gray-600);
  --background-color: var(--ds-background-100);
  --accent-color: var(--ds-gray-1000);
  --serif-font: "Bricolage Grotesque", sans-serif;
  --sans-serif-font: "IBM Plex Sans", sans-serif;
  --code-font: "IBM Plex Mono", monospace;
  --border-color: var(--ds-gray-300);
}

::selection {
  background: var(--ds-amber-500);
  color: var(--gray-900);
}

/* emulate https://twitter.com/heyirfanaziz/status/1751515771954683934 */
#heading {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, #f0f6fc, #8b949e);
  background-clip: text;
  font-optical-sizing: auto;
  font-size: 96px;
}

* {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--sans-serif-font);
  font-size: 16px;
  letter-spacing: 0;
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

img[src*='#gh-dark-mode-only'] {
  display: none;
}

main {
  display: block;
  position: relative;
  width: 100vw;
  height: 100%;
  z-index: 0;
}

.sidebar {
  font-family: var(--sans-serif-font);
  padding-top: 72px;
  padding-bottom: 40px;
  padding-left: 36px;
  padding-right: 0;
  width: 300px;
  transition: transform 0.3s ease-out;
  overflow: auto;
  height: 100vh;
}

.sidebar .sidebar-nav {
  line-height: 2em;
  padding-bottom: 40px;
}

.sidebar li {
  margin: 6px 0 6px 15px;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar ul ul {
  margin-left: 15px;
}

.sidebar ul,
.sidebar ul li {
  list-style: none;
}

.sidebar ul li a {
  color: var(--primary-color);
  display: block;
  font-size: 14px;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.sidebar ul li.active>a {
  border-right: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-weight: 700;
}

.sidebar::-webkit-scrollbar {
  width: 4px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background: var(--gray-100);
}

.sidebar {
  position: fixed;
}

.sidebar-toggle {
  display: none;
}

.content {
  padding-top: 60px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 300px;
  position: absolute;
  transition: left 0.3s ease;
}

.markdown-section {
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 15px 40px;
  position: relative;
}

.markdown-section>* {
  box-sizing: border-box;
  font-size: inherit;
}

.markdown-section> :first-child {
  margin-top: 0 !important;
}

.markdown-section table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.markdown-section table thead tr {
  text-align: left;
}

.markdown-section td,
.markdown-section th {
  border: 1px solid var(--border-color);
  padding: 0.5rem;
}

@media print {
  .github-corner,
  .sidebar {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #heading {
    font-size: 72px;
  }

  .github-corner svg {
    height: 62px !important;
    width: 62px !important;
  }

  .sidebar {
    position: fixed;
  }

  .sidebar {
    left: -300px;
  }

  .sidebar-toggle {
    cursor: pointer;
    display: inherit;
    border: 0;
    outline: none;
    padding: 0 10px;
    left: 6px;
    transition: opacity 0.3s;
    z-index: 4;
    position: fixed;
    top: 0;
    height: 62px;
    width: 100%;
    background: var(--background-color);
  }

  .sidebar-toggle span {
    background-color: var(--ds-gray-1000);
    display: block;
    margin-bottom: 5px;
    width: 24px;
    height: 3px;
  }

  body.sidebar-toggle {
    display: none;
  }

  body.close .sidebar,
  body.close .content  {
    transform: translateX(280px);
  }

  body.close .sidebar-toggle {
    background: var(--background-color);
    transition: background-color 0.3s;
    width: 284px;
  }

  main {
    height: auto;
    overflow-x: hidden;
  }

  .content {
    left: 0;
    max-width: 100vw;
    position: static;
    padding-top: 20px;
    transition: transform 0.3s ease;
  }

  .github-corner:hover .octo-arm {
    animation: none;
  }
}

.sidebar,
body {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.markdown-section :is(h1, h2, h3, h4, h5) {
  font-family: var(--serif-font);
  letter-spacing: 0.05em;
}

.markdown-section :is(h1, h2, h3, h4, h5) a {
  text-decoration: none;
  color: var(--accent-color);
}

.markdown-section :is(h1, h2, h3, h4, h5) a:hover::after {
  content: '#';
  position: relative;
  margin-left: 6px;
  display: inline-block;
}

.markdown-section a {
  font-weight: bold;
}

.markdown-section :is(li, p, td) a {
  color: var(--secondary-color);
  text-underline-offset: 4px;
  color: var(--accent-color);
}

.markdown-section :is(li, p, td) a:not(.no-external-icon):hover {
  opacity: 0.8;
}

.markdown-section h1 {
  font-size: 2rem;
  margin: 4rem 0 1rem;
}

.markdown-section h2 {
  font-size: 1.75rem;
  margin: 3.5rem 0 1rem;
}

.markdown-section h3 {
  font-size: 1.5rem;
  margin: 3rem 0 1rem;
}

.markdown-section h4 {
  font-size: 1.25rem;
  margin: 2.5rem 0 1rem;
}

.markdown-section h5 {
  font-size: 1rem;
}

.markdown-section p {
  margin: 1.2em 0;
}

.markdown-section :is(p, ul) {
  line-height: 1.8rem;
  word-spacing: 0.05rem;
}

.markdown-section ul li {
  margin-bottom: 10px;
}

.markdown-section ul {
  padding-left: 2rem;
}

.markdown-section blockquote {
  border-left: 4px solid var(--primary-color);
  margin: 2em 0;
  padding-left: 20px;
}

.markdown-section blockquote p {
  margin-left: 0;
  padding: 12px 0;
}

.markdown-section :is(code, pre, img) {
  border-radius: 4px;
}

.markdown-section code {
  border: 1px solid var(--border-color);
  font-family: var(--code-font);
  font-size: 0.75rem;
  padding: 3px 5px;
  white-space: nowrap;

}

.markdown-section pre {
  border: 1px solid var(--border-color);
  line-height: 1.5rem;
  margin: 1.2em 0;
  overflow: auto;
  padding: 0 0.7rem;
  position: relative;
  word-wrap: normal;
}

.markdown-section pre::after {
  color: var(--gray6);
  content: attr(data-lang);
  font-size: 0.6rem;
  height: 15px;
  line-height: 15px;
  padding: 5px 10px 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.markdown-section :is(pre, pre > code) {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
}

.markdown-section pre>code {
  border: 0;
  display: block;
  font-family: var(--code-font);
  font-size: 14px;
  line-height: inherit;
  margin: 0 2px;
  max-width: inherit;
  overflow: inherit;
  padding: 1.25em 5px;
  white-space: inherit;
  color: var(--gray-900);
}

.markdown-section :is(code::after, code::before) {
  letter-spacing: 0.8px;
  letter-spacing: 0.05rem;
}

.token.parameter {
  color: var(--gray-900);
}

.token.keyword,
.token.operator {
  color: var(--ds-pink-900);
}

.token.function {
  color: var(--ds-purple-900);
}

.token.function-variable {
  color: var(--ds-blue-900);
}

.token.comment,
.token.punctuation {
  color: var(--gray-400);
}

.token:is(.class-name, .number) {
  color: var(--ds-blue-900);
}

.token.string {
  color: var(--ds-green-900);
}

.token:is(.boolean, .constant) {
  color: var(--ds-red-900);
}

.token.literal-property.property {
  color: var(--gray-900);
}

/* github corner */

@keyframes b {

  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

.github-corner svg {
  position: fixed;
  z-index: 1;
  border-bottom: 0;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 0;
  color: var(--background-color);
  fill: var(--accent-color);
  height: 80px;
  width: 80px;
}

.github-corner:hover svg .octo-arm {
  opacity: 1;
  animation: b 560ms ease-in-out;
}

strong {
  color: var(--accent-color);
}

.type {
  font-size: 14px;
  position: relative;
  color: var(--gray-900);
  margin-left: 4px;
}

.type::before {
  content: '(';
}

.type::after {
  content: ')';
}

a[target*="_blank"]:not(.no-external-icon, .github-corner)::after {
  content: "";
  width: 13px;
  height: 13px;
  margin-left: 4px;
  margin-bottom: 2px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' fill='white' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: relative;
  top: 3px;
}

a[href*="stripe.com"]::before {
  content: "";
  margin-right: 4px;
  margin-bottom: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: relative;
}

a[href*="api.microlink.io"]::before,
a[href*="microlink.io"]::before,
a[href*="github.com"]::before,
a[href*="twitter.com"]::before,
a[href*="stripe.com"]::before {
  content: "";
  margin-right: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}

a[href*="github.com"]:not(.github-corner)::before {
  background-image: url("/static/images/github.png");
  width: 16px;
  height: 16px;
  top: 4px;
}

a[href*="twitter.com"]::before {
  background-image: url("/static/images/twitter.png");
  width: 16px;
  height: 16px;
  top: 4px;
}

a[href*="microlink.io"]::before {
  background-image: url("/static/images/microlink.png");
  width: 16px;
  height: 16px;
  top: 4px;
}

a[href*="stripe.com"]::before {
  background-image: url("/static/images/stripe.png");
  width: 16px;
  height: 16px;
  top: 5px;
}
